:root {
    --light-gray: #dadce0;
    --light-blue: #1b9ce2;
}

body {
    margin: 0;
}

#calendar {
display: grid;
grid-template-columns: repeat(7, 1fr);
grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
justify-content: center;
align-items: stretch;
height: 50vh;
}

.day {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    font-size: 12px;
    cursor: pointer;
    transition: background-color 200ms, color 200ms;
}

.name {
    padding-bottom: 5px;
}

.weekend {
    color: var(--light-blue);
}

.selected {
    background-color: var(--light-blue);
    color: white;
}