:root {
    --main-text-color: #333333;
    --second-text-color: #666666;
    --color-selectday:#FB3F4A;
}


*{
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
}


#calendar{
    margin: 3vw auto 0;
    padding: 72px;
    max-width: 560px;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-shadow: 0px 4px 32px rgba(170, 170, 170, 0.03);
    border-radius: 12px;
    }
    

.month{
    display: grid;
    grid-template-columns: 3fr 1fr 3fr 1fr 1fr;
    align-items: center;
    margin: 0;
    padding: 3rem 2rem 2rem;
    text-align: center;
    width: 100%;
    color: var(--main-text-color);
    list-style: none;
}

.month li{
    grid-column: 1/2;
    justify-self: start;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.4;
    letter-spacing: 0.1rem;
    font-weight: 700;
}

.month li.prev,
.month li.next{
    cursor: pointer;
    justify-self: center;
    font-size: 0.73em;
}

.month li.prev {
    grid-column: 4/5;
}

.month li.next{
    grid-column: 5/6;
}


.month li.year-name{
    grid-column: 2/3;
    padding-left: 1rem;
    justify-self: start;
    font-size: 1.5rem;
    line-height: 1.4;
    letter-spacing: 0.1rem;
    font-weight: 700;
}


.weekdays{
    margin: 0;
    padding: 1rem 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
}

.weekdays li{
    display: inline-block;
    flex: 0 0 calc(100% / 7);
    text-align: center;
    color: var(--main-text-color);
    font-size: 1.3rem;
    line-height: 1.4;
    letter-spacing: 0.1rem;
    font-weight: 500;
    
}


.days{
    margin: 0;
    padding: 1rem 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-content: flex-start;
    height: 14rem;
}

.days li{
    width: 56px;
    height: 56px;
    list-style: none;
    display: flex;
    flex: 0 0 calc(100% / 7);
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    line-height: 1rem;
}

.days li.date-now{
    color: #000;
    font-weight: 700;
}

.day {
    color: var(--second-text-color);
}

.selected {
    border-radius: 50%;
    background-color: var(--color-selectday);
    color: white;
}